.wrapper
  = render partial: 'groups/sidebar' 

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          = @group.group_name
        %ul.member-list
          Member :
          %li.member-list__member
            = @user.pluck(:name).join(",")
      = link_to edit_group_path(@group) do
        .main-header__edit-btn
          Edit

    .messages
      - @messages.each do |message|
        = render partial: 'chat', locals: {message:message}

    .form
      = form_for [@group, @message], html: {class: 'new-message'} do |f|
        .input-box
          = f.text_field :body, class: 'input-box__text', placeholder: "type a message"
          = f.label :image, class: 'image-label' do
            %i.fa.fa-image
            = f.file_field :image, class: 'image-label__input'
        = f.submit 'SEND', class: 'new-message__submit-btn'
